<h2>Class</h2>
<div id="class-wrapper">
    <span id="empty-class-icon"><i class="fas fa-lock"></i> <div id="empty-class-message">Oops looks like you don't have any classes!</div></span>
</div>
<button id="create-class-button">Create a class <span id="add-class-icon"><i class="fas fa-plus"></i></span></button>