/*HEADER*/
#header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#icon-wrapper {
    padding: 20px 60px;
    font-size: 26px;
    color: #00adff;
    cursor: pointer;
    min-width: 117px;
}

#a-logo {
    margin-left: -17px;
    color: white;
    font-size: 20px;
}

#ttendance-logo {
    margin-left: 6px;
    font-size: 20px;
}

#nav-wrapper {
    margin-left: auto;
    padding: 0 30px;
    position: relative;
    white-space: nowrap;
}

.nav-links {
    cursor: pointer;
    padding: 10px 0;
    margin: 0 10px;
    -webkit-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    line-height: 67px;
}

.nav-links:hover {
    color: #37d1ff;
}

#delete-wrapper {
    display: none;
}

#search-wrapper {
    padding-right: 10px;
    white-space: nowrap;
    width: 100%;
    max-height: 42px;
    margin: 15px 10px;
    border: 1px solid #8c8c8c;
    -webkit-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

#search-wrapper:hover {
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
}

::-webkit-input-placeholder {
    color: #989898;
}

#search-wrapper:hover ::-webkit-input-placeholder {
    color: #ffffff;
}

#search-wrapper:hover #search-icon {
    color: #ffffff;
}

::-webkit-input-placeholder {
    -webkit-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

#search-icon {
    padding: 12px;
    cursor: pointer;
    color: #747474;
    -webkit-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

#search-input {
    background-color: transparent;
    width: 456px;
    outline: none;
    border: none;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
    color: #ffffff;
}
/*HEADER*/

/* ACCOUNT WRAPPER */

#account-wrapper {
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 58px;
    left: 5px;
    width: 200px;
    background: #242323;
    display: none;
    white-space: normal;
}

#account-wrapper div {
    padding: 20px 30px;
}

#drag-drop-text {
    color: white;
    font-size: 28px;
    margin-left: 50px;
}

#logout-icon {
    margin-right: 10px;
}

.account-links {
    padding: 0 13px;
    cursor: pointer;
}

.account-active #account-link {
    border-bottom: 2px solid #00adff;
}

.account-active #account-wrapper {
    display: block;
}

.account-links:hover {
    background-color: #1c1c1c;
}

#username {
    color: #a1a1a1;
    font-size: 13px;
    display: block;
}
/* ACCOUNT WRAPPER */

/* MAIN WRAPPER */
#main-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 103px);
}
/* MAIN WRAPPER */

/* SIDEBAR */
#side-bar-wrapper {
    min-width: 200px;
    border: 1px solid #3f3f3f;
    height: 100%;
    margin: 0 0 0 10px;
    padding: 10px;
    overflow-y: auto;
}

#side-bar-wrapper h2 {
    margin: 5px;
    font-size: 18px;
    font-family: 'Karla', Arial, Helvetica, sans-serif, Georgia, serif;
}

.roster-wrapper {
    background: #202020;
    padding: 6px 0;
    margin-bottom: 13px;
    border: 1px solid #5d5d5d;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
}

.roster-wrapper:hover {
    background: #131313;
    padding: 9px;
    border: 1px solid #000;
}

.roster-wrapper.active, .class.active {
    background: #131313;
    padding: 9px;
    border: 1px solid #000;
}

#roster-header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.total-students {
    font-size: 13px;
    margin-left: 10px;
}

#create-student-button {
    padding: 8px;
    margin-left: auto;
    color: #089708;
    display: block;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#class-wrapper {
    text-align: center;
}

#empty-class-icon {
    font-size: 54px;
    color: #44c3ff;
}

#empty-class-message {
    color: white;
    font-size: 15px;
}

#create-class-button {
    margin: 10px auto;
    border: #176e11 solid 1px;
    padding: 8px;
    cursor: pointer;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    background: transparent;
    color: white;
    width: 177px;
    font-family: 'Karla', Arial, Helvetica, sans-serif, Georgia, serif;
    display: block;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.class-header-wrapper #create-class-button:hover, #create-student-button:hover {
    color: #00cf23 !important;
}

#add-class-icon {
    margin-left: 37px;
}

.class-header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}

.class-header-wrapper #create-class-button {
    width: 33px;
    margin: 0 0 0 auto;
    border: none;
    padding: 5px;
    color: #089708;
}

.class-header-wrapper #add-class-icon {
    margin: 0;
}

.class {
    background: #202020;
    padding: 8px 6px;
    border: 1px solid #5d5d5d;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 7px 0;
}

.class:hover {
    background: #131313;
    padding: 9px;
    border: 1px solid #000;
}

.class-detail-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}

.class-name {
    font-size: 16px;
    display: inline-block;
}

.class-time {
    font-size: 10px;
    margin-left: auto;
    line-height: 16px;
    color: #c3ebff;
}

.class-time-wrapper {
    font-size: 11px;
    text-align: left;
    margin-left: 5px;
}

.today.active-day {
    color: #6aff6a;
    font-weight: bold;
    font-style: italic;
}

.inactive-day {
    color: #f79696;
    display: none;
}

.today.inactive-day {
    color: #ff7575;
}
/* SIDEBAR */

/* BODY WRAPPER */
#body-wrapper {
    width: 100%;
    padding: 10px;
    height: 100%;
}

#class-header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#class-name {
    font-size: 33px;
    line-height: 61px;
}

#class-time {
    text-align: center;
    font-size: 17px !important;
    display: block;
}

#calendar-button {
    cursor: pointer;
    margin: 0 auto;
    font-size: 36px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#calendar-button:hover {
    color: #ffffff;
}

#link-student-button {
    font-size: 23px;
    line-height: 61px;
    border: #535252 solid 1px;
    padding: 0 15px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#link-student-button:hover {
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
}

#calendar-icon {
    display: inline-block;
    font-size: 30px;
}
/* BODY WRAPPER */

/* ATTENDANCE TABLE */
table {
    width: 100%;
    margin-top: 20px;
}

table thead {
    color: #ffffff;
    font-size: 14px;
}

table tbody tr {
    text-align: center;
    height: 52px;
    background: #151515;
    color: #87d0fb;;
}

table tbody tr td {
    height: 65px;
}

.attendance-column {
    cursor: pointer;
    width: 275px;
}

#empty-roster-wrapper, #empty-class-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: calc(100% - 45px);
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

#empty-roster-icon, #empty-school-icon {
    font-size: 170px;
    margin: 50px 0 0 0;
}

#empty-school-icon {
    color: #c7c78b;
}

#empty-roster-description, #empty-class-description, #empty-student-description {
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#empty-roster-description:hover, #empty-class-description:hover, #empty-student-description:hover {
    cursor: pointer;
    font-size: 18px;
}
/* ATTENDANCE TABLE */

/*OVERLAY*/
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    background: #000000c7;
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffffff;
    border: 0;
    padding: 0;
    margin: 0;
}

#overlay.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.class #create-class-wrapper {
    display: block;
}

.student #create-student-wrapper {
    display: block;
}

.student-link #student-link-wrapper {
    display: block;
}

#create-class-wrapper {
    display: none;
}

.calendar #calendar-wrapper {
    display: block;
}

#calendar-wrapper {
    display: none;
}

#overlay label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ffffff;
}

#overlay input {
    background-color: #a4bde3;
    border: none;
    font-size: 15px;
    outline: none;
    font-weight: 400;
    letter-spacing: -0.025rem;
    line-height: 1.25rem;
    margin: 2px 2px 2px 0;
    color: #000000;
    padding: 10px;
    width: 250px;
}

#overlay button {
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 11px 22px;
    cursor: pointer;
    -webkit-border-radius: 3px;
            border-radius: 3px;
}

#overlay button:hover {
    -webkit-filter: brightness(110%);
            filter: brightness(110%);
}

#overlay select {
    background: #1768ff;
    border: none;
    outline: none;
    padding: 7px;
    color: white;
    font-weight: 400;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    font-size: 15px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
}
/*OVERLAY*/

/*CREATE CLASS*/
#create-class-container {
    background: #578ee1;
    -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
    padding: 10px;
}

#class-name-input {
    width: 350px !important;
}

#class-details-wrapper {
    position: relative;
    border: dashed;
    width: 485px;
}

#create-class-container #class-icon {
    font-size: 71px;
    position: absolute;
    top: -46px;
    left: 16px;
}

#class-section-1 {
    padding: 20px 0 0 87px;
}

#class-section-2, #class-section-3 {
    margin: 10px;
}

#day-wrapper {
    text-align: center;
}

#class-section-3 input {
    width: 25px;
    height: 12px;
}

#time-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.time-label {
    margin: 0 5px 0 0 !important;
}

.time-input-wrapper {
    margin-left: 2px;
}

.hour-input, .minute-input {
    width: 16px;
}

.minute-input {
    margin-left: -3px;
}

#left-time-input-wrapper .time-colon {
    margin-left: -3.5px;
}

#class-submit-wrapper {
    width: 489.8px;
    padding: 10px;
    text-align: right;
    -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
    background: #72abff;
}

#class-cancel-button, #class-submit-button {
    color: white;
    background: #1e82e7;
}

#left-time-input-wrapper {
    margin-right: 10px;
}
/*CREATE CLASS*/

/*CREATE STUDENT*/
#create-student-wrapper {
    display: none;
    position: relative;
}

#create-student-wrapper input {
    background-color: #999ce3;
}

#create-student-container {
    background: #6c1ee9;
    -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
    padding: 10px;
}

#class-student-wrapper {
    position: relative;
    border: dashed;
    width: 485px;
}

#create-student-container #student-icon {
    font-size: 71px;
    position: absolute;
    top: -46px;
    left: 16px;
}

#student-details-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#student-details-wrapper label {
    margin: 10px 0;
}

#student-details-wrapper select {
    background: #320090;
    width: 270px;
    height: 44px;
}

#student-section-1 {
    margin: 0 30px;
}

#address-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#address-wrapper div:nth-child(1) {
    margin-right: 17px;
}

#first-name-input {
    width: 202px !important;
}

#state-input {
    width: 75px !important;
}

#zip-code-input {
    width: 135px !important;
}

#student-sub-section {
    margin-left: 50px;
}

#student-submit-wrapper {
    width: 641.8px;
    padding: 10px;
    text-align: right;
    -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
    background: #8538ff;
}

#student-cancel-button, #student-submit-button {
    color: white;
    background: #6003d9;
}
/*CREATE STUDENT*/

/*STUDENT LINK*/
#student-link-wrapper {
    display: none;
    position: relative;
    max-height: calc(100vh - 80px);
    width: 550px;
}

#student-link-container {
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    background: #ff9494;
    -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
    padding: 10px;
}

/* Track */
#student-link-container::-webkit-scrollbar-track {
    background: #ffbcbc;
}

/* Handle */
#student-link-container::-webkit-scrollbar-thumb {
    background: #cc6d6d;
}

/* Handle on hover */
#student-link-container::-webkit-scrollbar-thumb:hover {
    background: #ff7373;
}

#student-link-container #link-icon {
    color: #ff7373;
    font-size: 64px;
    position: absolute;
    top: -25px;
    left: 16px;
    z-index: 1;
}

#student-link-section-1 {
    padding: 0 0 0 75px;
    font-size: 26px;
}

#student-roster-table tbody tr {
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    background: #cc6d6d;
    color: #ffffff;
    cursor: pointer;
}

#student-roster-table tbody td {
    height: 20px;
    position: relative;
}

.roster-check {
    position: absolute;
    left: 15px;
    top: 13px;
}

.roster-check .checkbox-input:checked + .check-box-wrapper .check-box {
    background: #a24a4a;
    border-color: #b95959;
}

.remove-tag, .add-tag {
    display: none;
    position: absolute;
    right: 12px;
    top: 8px;
    padding: 10px;
    background: -webkit-radial-gradient(#f59393, transparent);
    background: -o-radial-gradient(#f59393, transparent);
    background: radial-gradient(#f59393, transparent);
}

.remove-tag {
    right: 12px;
    background: -webkit-radial-gradient(#f59393, transparent);
    background: -o-radial-gradient(#f59393, transparent);
    background: radial-gradient(#f59393, transparent);
}

.add-tag {
    right: 23px;
    background: -webkit-radial-gradient(#fc7d7d, transparent);
    background: -o-radial-gradient(#fc7d7d, transparent);
    background: radial-gradient(#fc7d7d, transparent);
}

#student-link-section-3 {
    padding: 10px;
    border: 1px solid white;
    margin: 10px 0;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    position: relative;
}

#student-link-section-3 h2 {
    font-family: 'Karla', Arial, Helvetica, sans-serif, Georgia, serif;
    margin: 0;
    font-size: 16px;
    position: absolute;
    top: -10px;
    background: #090909;
    padding: 0 8px;
}

#student-link-submit-wrapper {
    width: 529.8px;
    padding: 10px;
    text-align: right;
    -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
    background: #d27575;
}

#student-link-cancel-button, #student-link-submit-button {
    color: white;
    background: #b65858;
}
/*STUDENT LINK*/

/*CHECKBOX*/
.check-box-wrapper {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
	padding: 0 4px;
    display: inline !important;
}

.check-box-wrapper span {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.check-box-wrapper .check-box {
	position: relative;
    width: 18px;
    background: #ffffff;
    height: 18px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    vertical-align: middle;
    border: 1px solid #d1c9c9;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.check-box-wrapper .check-box svg {
	position: absolute;
	top: 4px;
	left: 3px;
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition-delay: .1s;
	     -o-transition-delay: .1s;
	        transition-delay: .1s;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.check-box-wrapper .check-box-label {
	padding-left: 3px;
    font-size: 14px;
}

.check-box-wrapper:hover .check-box {
	border-color: #506EEC;
}

.checkbox-input:checked + .check-box-wrapper .check-box {
	background: #506EEC;
	border-color: #506EEC;
	-webkit-animation: wave .4s ease;
	        animation: wave .4s ease;
}

.checkbox-input:checked + .check-box-wrapper .check-box svg {
	stroke-dashoffset: 0;
}

.checkbox-input:checked + .check-box-wrapper .check-box:before {
	-webkit-transform: scale(3.5);
	    -ms-transform: scale(3.5);
	        transform: scale(3.5);
	opacity: 0;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}

@-webkit-keyframes wave {
	50% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
}

@keyframes wave {
	50% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
}
/*CHECKBOX*//*CALENDAR*/
#overlay {
    background: #00000042;
}

#calendar-wrapper {
    -webkit-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b2ad2), to(#6c460c));
    background: -webkit-linear-gradient(#6b2ad2, #6c460c);
    background: -o-linear-gradient(#6b2ad2, #6c460c);
    background: linear-gradient(#6b2ad2, #6c460c);
}

#calendar-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #1f6083;
    -webkit-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
    padding: 7px;
}

#calendar-exit {
    margin-left: auto;
    cursor: pointer;
}

#calendar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.month-wrapper {
    width: 548px;
}

.month-header {
    height: 75px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.side-arrow {
    cursor: pointer;
    padding: 10px;
}

.month, .year {
    font-size: 26px;
}

.left-arrow {
    position: absolute;
    top: 19px;
    left: 12px;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.right-arrow[data-month="0"] {
    opacity: 0.3;
}

.right-arrow {
    position: absolute;
    top: 19px;
    right: 12px;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.month-calendar {
    display: block;
}

.day-of-week {
    display: block;
}

.month-calendar tr {
    height: 50px;
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.day-of-week tr th {
    font-weight: 500;
}

.month-calendar tbody {
    display: block;
    color: #eaeaea;
}

#currentDay {
    background: #444924;
}

.nonSelectable {
    color: #878787;
    cursor: default;
}

.hovered {
    background: #474747;
}

#calendar-wrapper tbody td:not(.nonSelectable) {
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    position: relative;
}

#calendar-wrapper tbody td:not(.nonSelectable):hover {
    font-size: 24px;
}

.right-arrow:hover, .left-arrow:hover {
    font-size: 20px;
}

.first-selected-date, .last-selected-date {
    background: #2d6387 !important;
}

.in-between {
    background: #2d4f876e;
}

#calendar-input-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#calendar-input-wrapper .calendar-input-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    font-size: 14px;
}

#calendar-input-wrapper input {
    background: transparent;
    outline: none;
    border: none;
    padding: 2px 1.5px;
    color: #ffffff;
}

.from-to-text {
    margin-right: 2px;
}

#left-time-input-wrapper .time-colon {
    margin-left: -3.5px;
}

.time-colon {
    margin-left: -0.5px;
}

#left-date-input-wrapper .date-slash {
    margin-left: -3.5px;
}

.date-slash {
    margin-left: -1px;
}

#calendar-button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: #5e5e5e solid 1.60px;
    height: 35px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

#calendar-button-wrapper button {
    outline: none;
    color: #f4f4f4;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    padding: 3px 6px;
    cursor: pointer;
    border: solid 2px #939393;
}

#calendar-button-wrapper #calendar-reset {
    background: #ae3434;
    margin: 0 72px;
}

#calendar-button-wrapper #calendar-submit {
    background: #216221;
    margin: 0 45px 0 auto;
}

#calendar-button-wrapper #calendar-reset:hover {
    background: #c72b2b;
    border-color: #d7d7d7;
}

#calendar-button-wrapper #calendar-submit:hover {
    background: #066c06;
    border-color: #d7d7d7;
}

.cal-check {
    display: none;
    position: absolute;
    left: 7px;
    top: 10px;
    color: #59ce59;
    font-size: 16px !important;
}

.checked .cal-check {
    display: inline-block;
}
/*CALENDAR*/